@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background-image: url('./assets/bg-night2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.hour {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.expand {
  transform: translateY(-300px);
  transition: all 1s ease-in-out;
}

.collapsed {
  transform: translateY(0px);
  transition: all 1s ease-in-out;
}

/* rotate svg arrow */
.rotate svg {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}

/* rotate svg arrow */
.rotateBack svg {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}