@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background-image: url('./assets/bg-night2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.up {
  transform: translateY(-50px);
  transition: all 0.5s ease-in-out;
}

.down {
  transform: translateY(0px);
  transition: all 0.5s ease-in-out;
}